body {
    font-family: "Bradley Hand ITC";
    background-color: #cccccc;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}